./Week 1/getting_and_cleaning_data_quiz_1_cache/
./Week 2/getting_and_cleaning_data_quiz_2_cache/
./Week 3/getting_and_cleaning_data_quiz_3_cache/
./Week 4/getting_and_cleaning_data_quiz_4_cache/
*.html